In [ ]:
import requests
import string

from collections import Counter

from bs4 import BeautifulSoup
import csv

url = "https://bbc.com/news"


response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, "html.parser")
links = soup.findAll("a")

news_urls = []
for link in links:
    href = link.get("href")
    if href.startswith("/news") and href[-1].isdigit():
        news_url = "https://bbc.com" + href
        news_urls.append(news_url)


all_nouns = []
with open('./test_data/real.csv', mode='w') as csv_file:
        fieldnames = ['text', 'label', 'birth_month']
        writer = csv.DictWriter(csv_file, fieldnames=fieldnames)
        writer.writeheader()

for url in news_urls[:10]:
    print("Fetching {}".format(url))
    response = requests.get(url)
    #html = response.text
    #soup = BeautifulSoup(html, "html.parser")
    
    
    doc = BeautifulSoup(response.text, 'html.parser')
    stories = doc.find_all('div', { 'class': 'gs-c-promo' })
    for story in stories:
        print(story.find('p'))
        with open('./test_data/real.csv', mode='w') as csv_file:
            writer = csv.DictWriter(csv_file,fieldnames=fieldnames)
            writer.writerow({'text': story.txt, 'label': 0})

http://jonathansoma.com/lede/foundations-2017/classes/adv-scraping/scraping-bbc/

In [ ]:
import requests
import string

from bs4 import BeautifulSoup
import csv

url = "https://bbc.com/news"


response = requests.get(url)
html = response.text
soup = BeautifulSoup(html, "html.parser")
links = soup.findAll("a")

news_urls = []
for link in links:
    href = link.get("href")
    if href.startswith("/news") and href[-1].isdigit():
        news_url = "https://bbc.com" + href
        news_urls.append(news_url)


all_nouns = []

stories_list = []
for url in news_urls[:200]:
    print("Fetching {}".format(url))
    response = requests.get(url)
    #html = response.text
    #soup = BeautifulSoup(html, "html.parser")
   

    # Start with an empty list
    
    stories = doc.find_all('div', { 'class': 'gs-c-promo' })
    for story in stories:
        headline = story.find('h3')
        link = story.find('a')
        summary = story.find('p')
        # Does our story have a summary?
        if summary:
            # Build a dict that HAS a summary
            story_dict = {
                
                'text': summary.text,
                'label':0
            }
       
        # Add the dict to our list
        stories_list.append(story_dict)

#print(stories_list)

# Now that we're done, convert to a CSV and save.
# If you don't use index=False, you'll get an ugly dataframe!
import pandas as pd
df = pd.DataFrame(stories_list)
df.to_csv("./bbc.csv", index=False)

In [1]:
import csv

In [2]:
from newspaper import Article
import newspaper

cnn_paper = newspaper.build('https://www.nytimes.com')
stories_list = []

fieldnames = ['text', 'label']
for article in cnn_paper.articles:
    article.download()
    article.parse()
    print(article.text)
    stories_list.append(article.text)
    print("#########################################################################################")
    with open('./test_data/real.csv', mode='w') as csv_file:
        writer = csv.DictWriter(csv_file,fieldnames=fieldnames)
        writer.writerow({'text': article.text, 'label': 0})

In [ ]:
len(stories_list)

In [ ]:
df = pd.DataFrame(stories_list)
df.to_csv("./bbc.csv", index=False)

In [ ]:
from selenium import webdriver

driver = webdriver.Chrome("C:\\Users\\DELL\\Documents\\ProjetDFN\\driver\\chromedriver.exe")
driver.implicitly_wait(5) # waiting 5 seconds for dynamic data to load
driver.get("http://www.bbc.com/news")       
headlines = driver.find_elements_by_tag_name("p")[:5]
for headline in headlines:
    print(headline.text)   
driver.close()

In [ ]:
stories_list

## Construct test data

Articles source :  https://www.kaggle.com/asad1m9a9h6mood/news-articles#Articles.csv

In [5]:
import pandas as pd

In [53]:
real = pd.read_csv('./test_data/Articles.csv',encoding = "ISO-8859-1")
fake = pd.read_csv('./test_data/fake.csv')

In [54]:
real.shape

(2692, 4)

In [55]:
real['label']=0
fake['label']=1

In [56]:
real = real[['Article','label']][:2000]
fake = fake[['text','label']][:2000]

In [46]:
fake.head()

                                                text  label
0  Print They should pay all the back all the mon...      1
1  Why Did Attorney General Loretta Lynch Plead T...      1
2  Red State : \nFox News Sunday reported this mo...      1
3  Email Kayla Mueller was a prisoner and torture...      1
4  Email HEALTHCARE REFORM TO MAKE AMERICA GREAT ...      1

In [47]:
real.head()

                                             Article  label
0  KARACHI: The Sindh government has decided to b...      0
1  HONG KONG: Asian markets started 2015 on an up...      0
2  HONG KONG:  Hong Kong shares opened 0.66 perce...      0
3  HONG KONG: Asian markets tumbled Tuesday follo...      0
4  NEW YORK: US oil prices Monday slipped below $...      0

In [57]:
real.rename(columns={'Article': 'text'},inplace=True)

In [58]:
fake_real = pd.concat([real,fake],ignore_index=True)

In [50]:
fake_real.head()

                                                text  label
0  KARACHI: The Sindh government has decided to b...      0
1  HONG KONG: Asian markets started 2015 on an up...      0
2  HONG KONG:  Hong Kong shares opened 0.66 perce...      0
3  HONG KONG: Asian markets tumbled Tuesday follo...      0
4  NEW YORK: US oil prices Monday slipped below $...      0

In [59]:
fake_real['label'].value_counts()

1    2000
0    2000
Name: label, dtype: int64

In [61]:
fake_real.to_csv('./test_data/fake_real_test.csv')